*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Comic sans MS", sans-serif;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

a:hover{
    color: white;
}

button{
    width: 250px;
    min-width: 200px;
    height: 50px;
    color: #E5E7EB;
    background-color: #2588e4;
    padding: 1em 3em;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}



/* HEADER */


header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 100px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.logo{
    height: 40px;
}

.navbar-link{
    padding: 0 5px;
}


/* MAIN */


.main-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #1F2937;
    min-height: 500px;
    padding: 0 100px 0px 100px;
}

.main-text{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px 10px 0;   
    max-width: 700px;
    min-width: 350px;
    max-height: auto;
    color: #E5E7EB;
}

.main-text p{
    margin-bottom: 20px;
}

.main-image{
    display: flex;
    flex: 1 0 0;
    align-items: center;
    min-width: auto;
}

.main-image img{
    height: auto;
    width: 100%;
    border-radius: 20px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
}

figure{
    max-width: 700px;
    min-width: 300px;
}

.main-button{
    /* justify-self: center; */
}


/* INFORMATION */


h2{
    text-align: center;
    padding: 40px;
    /* margin: 1em auto; */
}

.items{
    min-height: 320px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    flex: 0 0 150px;
    /* width: 100px; */
    height: 150px;
    border: 5px solid #2588e4;
    border-radius: 10px;
    margin: 0 25px 25px 25px;
}

.item img{
    max-width: 100%;
    max-height: 100%;
}


/* QUOTE */


.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Apple Chancery";
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    min-height: 420px;
    padding: 30px 250px;
    background-color: #E5E7EB;
}

.quote p{
    align-self: flex-end;
    font-weight: bolder;
    margin-top: 30px;
}





/* CALL */

.call{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #2588e4;
    color: #E5E7EB;
    border-radius: 15px;
    padding: 0 30px;
    height: 200px;
    margin: 30px 100px;
}

.call-button{
    border: 3px solid #E5E7EB;
}

/* FOOTER */


footer{
    display: flex;
    height: 40px;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}


/* TEMP */


section.temp{
    height: 100vh;
    text-align: center;
    padding-top: 300px;
}


